<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dasher.android" android:versionCode="8" android:versionName="2.2.3">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    
    <!-- Declares the input method service -->
        <service android:name="DasherInputMethod"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <!-- Optional activities...-->
        <!-- The first actually lets you edit Dasher settings/prefs,
        	 and we launch it with an explicit intent when we've been
        	 through the setup/IME-enabling process; it's also listed in
        	 xml/method.xml so it shows up on the Language+Keyboard prefs-->
        <activity android:name=".SettingsActivity">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <!-- The second runs the user through the process of enabling
             Dasher as an IME and selecting it as the active IME, then
             invokes the former; we put this one in the App Launcher -->
        <activity android:name=".DasherActivity"
                  android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest> 
